{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": ["defaults", "not IE 11", "maintained node versions"],
        "modules": false
      }
    ],
    ["@babel/preset-react", { "runtime": "automatic" }],
    ["@babel/preset-typescript"]
  ],
  "plugins": [["@babel/transform-runtime"]]
}
